.disblock{
	display: block;
}
/* 天猫超市的头部导航 */
div#site-nav{
    /* 最小宽度 */
    min-width: 990px;
    width: 100%;
    height: 26px;
    position: relative;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
	z-index: 999;
}

div#site-nav
div#sn-bd{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
}

div#sn-bd
div.sn-container a{
	color: #999999;
	font-size: 12px;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

div#sn-bd
div.sn-container a:hover{
	text-decoration: underline;
	color: #FF0036;
}

div#sn-bd
div.sn-container{
	width: 1190px;
	height: 26px;
	position: relative;
	color: #999;
}

div#sn-bd
div.sn-container
p.sn-back-home{
	float: left;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
	font-size: 0;
}

div.sn-container 
i.icon-home{
	margin-right: 4px;
	position: relative;
	top: -1px;
	color: #FF0036;
	font-size: 12px;
	font-style: normal;
	cursor: text;
}

div#sn-bd
div.sn-container
p.login-info{
	float: left;
	height: 26px;
	line-height: 26px;
	/* display: inline-block; */
	font-size: 0;
}

div#sn-bd
div.sn-container
p.login-info em{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
}

div#sn-bd
p.login-info
a.sn-login{
	padding-left: 20px;
	padding-right: 10px;
}

div#sn-bd
p.login-info
a.sn-register{
	padding: 0 10px;
}

div#sn-bd
ul.sn-quick-menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

div#sn-bd
ul.sn-quick-menu li{
	float: left;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.sn-menu{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-mytaobao
a.menu-hd{
	padding-left: 10px;
	padding-right: 14px;
	display: block;
    height: 26px;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
}

ul.sn-quick-menu b{
	position: absolute;
    right: 6px;
    top: 12px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.menu-bd{
	display: none;
	width: 74px;
	padding: 8px 10px;
	position: absolute;
    left: 0;
    top: 27px;
    background: #fff;
    border: solid #eee;
    border-width: 0 1px 1px;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.menu-bd a{
	line-height: 20px;
}

/*顶部导航的购物车*/
ul.sn-quick-menu 
li.sn-cart{
	position: relative;
	text-align: center;
	font-size: 0;
	padding: 0 10px;
}

ul.sn-quick-menu 
li.sn-cart
i.icon-tianmaochaoshigouwuche{
	color: #FF0036;
	cursor: text;
	position: relative;
	top: 1px;
	line-height: 26px;
	vertical-align: top;
	margin-right: 2px;
}

ul.sn-quick-menu 
li.sn-cart a{
	position: static;
	height: 26px;
}

/*顶部导航的收藏夹*/
ul.sn-quick-menu 
li.sn-favorite{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-favorite a{
	padding-right: 14px;
	padding-left: 12px;
	display: block;
}

/*顶部导航的竖杠*/
div#sn-bd
ul.sn-quick-menu 
li.sn-separator{
	display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 6px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

/*顶部导航的手机版*/
div#sn-bd
ul.sn-quick-menu 
li.sn-mobile{
	position: relative;
	padding: 0 10px;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-mobile 
i.icon-shouji{
	color: #FF0036;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

/*顶部导航的淘宝网*/
div#sn-bd
ul.sn-quick-menu 
li.sn-home{
	position: relative;
	padding: 0 10px;
}

/*顶部导航的商家支持*/
div#sn-bd
ul.sn-quick-menu 
li.sn-seller{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-seller a{
	padding-left: 12px;
	padding-right: 14px;
	display: block;
}

/*顶部导航的网站导航*/
div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap{
	position: relative;
	font-size: 0;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap a{
	padding-left: 12px;
	padding-right: 14px;
	display: block;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap a:hover{
	color: #999999;
	text-decoration: none;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap 
a i.icon-caidan{
	font-size: 12px;
	color: #FF0036;
	font-weight: bold;
	padding-right: 4px;
}

div#header{
	width: 100%;
	display: block;
	position: relative;
	height: 122px;
	margin-top: -26px!important;
}

div.headerLayout{
	width: 1190px;
	margin: 0 auto;
	padding-top: 26px;
}

div.headerCon{
	width: 1190px;
	height: 88px;
}

div.headerCon
h1#mallLogo{
	width: 240px;
	height: auto;
	padding-top: 16px;
	float: left;
	line-height: 62px;
	position: relative;
}

h1#mallLogo
span.mlogo{
	float: left;
	margin-right: 10px;
	padding: 0;
}

h1#mallLogo
span.mlogo a{
	width: 190px;
	height: 62px;
	font-size: 0!important;
	padding: 0 0 0 40px;
	margin-top: 10px;
	display: block;
	overflow: inherit;
	position: relative;
}

h1#mallLogo
span.mlogo s{
	width: 130px;
	height: 48px;
	background-size: 100% 100%;	
	background-image: url(../images/tmallLogo.png);
	display: block;
}

/*城市定位*/
div.position-city{
	color: #30b30e;
	float: left;
	padding-top: 60px;
}

div.position-city h3{
	position: relative;
    color: #30b30e;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    line-height: 1.5;
    margin-top: -36px;
    margin-left: -1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    cursor: pointer;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100px;
}

div.position-city h3
i.icon-xialacaidan{
	color: #30b30e;
	font-size: 16px;
}

/*一站式购齐等*/
div.header-banner{
	float: right;
	padding: 25px 0 0 15px;
	width: 242px;
	height: auto;
}

div.header-banner
ul.market-feature{
	text-align: right;
	margin-right: 5px;
}

div.header-banner
ul.market-feature li{
	display: inline-block;
	margin: 0 6px;
	vertical-align: middle;
	font-size: 12px;
}

div.header-banner
ul.market-feature li a{
	color: #666666;
	font-weight: bolder;
}

div.header-banner
ul.market-feature 
li i.iconfont{
	color: #30b30e;
	font-weight: 400;
	text-align: right;
	margin-top: 20px;
	font-size: 16px;
	font-style: normal;
}

div.header-banner
ul.market-feature 
li.license{
	visibility: visible;
}

div.header-banner img{
	vertical-align: middle;
}

/*搜索栏*/
div.mall-search{
	width: 540px;
	float: right;
	padding-top: 25px;
	overflow: hidden;
	position: relative;
}

div.mall-search
div.s-combobox{
	width: 447px;
	height: 30px;
	float: left;
	font-size: 12px;
	border: solid #30b30e;
    border-width: 3px 0 3px 3px;
}

div.mall-search
div.s-combobox
div.s-combobox-input-wrap{
	position: relative;
    height: 30px;
    vertical-align: middle;
}


div.s-combobox
div.s-combobox-input-wrap
input{
	color: #000;
    margin: 0;
    z-index: 2;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: none;
    font-weight: 900;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-weight: 400;
    line-height: 30px;
}

/*搜索按钮*/
div.mall-search button{
	position: absolute;
	background-color: #30b30e;
	width: 90px;
	height: 36px;
	right: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

div.zhiying{
    width: 100%;
    height: 18px;
    margin: 20px 0 10px 0;
    font-size: 12px;
    display: block;
}

div.zhiying
div.zhiying_tab{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

div.zhiying_tab strong{
    display: inline-block;
    vertical-align: middle;
}

div.zhiying_tab ol{
    vertical-align: middle;
    display: inline-block;
}

div.zhiying_tab ol li{
    float: left;
}

div.zhiying_tab a:hover{
    color: #C40000;
}

div.big_content{
    width: 100%;
    /* height: 500px; */
    display: block;
}

div.content{
    width: 1190px;
    /* height: 500px; */
    margin: 0 auto;
}

/* 天猫购物车 */
.shop {
    width: 1190px;
    /* height: 581px; */
    /* margin: 50px auto; */
}

.tbnav {
    height: 33px;
    border-bottom: 2px solid rgb(217, 217, 217);
    background-color: rgb(246, 245, 245);
}

tr {
    display: flex;
    border-bottom: 1px solid #ccc;
}

td {
    display: flex;
    flex-direction: column;
}

td span {
    font-size: 10px;
}

.Son1 {
    width: 540px;
}

.Son2 {
    width: 120px;
    flex-direction: row;
    cursor: pointer;
}

.Son2 span {
    padding: 0 4px;
    border: 1px solid #ccc;
    user-select: none;
}

.Son2 span:nth-of-type(1) {
    border-right: none;
}

.Son2 span:nth-of-type(2) {
    border-left: none;
}

.Son3 {
    width: 235px;
}

.Son3 b {
    color: orangered;
}

.Son4 {
    width: 150px;
}

.Son4 span:nth-of-type(2) {
    color: rgb(41, 141, 70);
}

.Son5 {
    width: 70px;
}

th {
    text-align: left;
    line-height: 33px;
}

.shops {
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.shopList {
    height: 100px;
    align-items: center;
}

.shopList .Son5 {
    align-items: center;
}

.imgTd {
    width: 105px;
    align-items: center;
}

.titleTd {
    width: 435px;
}

.titleTd h6 {
    font-size: 10px;
    color: rgb(0, 151, 219);
    cursor: pointer;
}

.count {
    width: 25px;
    height: 19px;
    text-align: center;
}

.countall {
    justify-content: space-between;
    height: 130px;
}

.countall td {
    justify-content: center;
}

.iconL {
    display: inline-block;
    border: 5px solid transparent;
    border-right-color: black;
}

.iconR {
    display: inline-block;
    border: 5px solid transparent;
    border-left-color: white;
}

.countRight span:nth-of-type(1) b {
    color: orangered;
}

.countRight span:nth-of-type(2) {
    line-height: 40px;
    color: rgb(41, 141, 70);
}

.countRight button {
    background-color: orangered;
    border-radius: 13px 0 0 13px;
    border: none;
    width: 190px;
    height: 30px;
    color: white;
    font-weight: bolder;
    padding-left: 9px;
}

tfoot tr{
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 25px;
	font-weight: bold;
}

tfoot tr #cTotal{
	color: #C40000;
	font-weight: bold;
}

tfoot tr #sTotal{
	font-weight: 500;
	font-size: 20px;
	color: rgb(41, 141, 70);
}

div.cleanC{
    width: 150px;
    height: 40px;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    background-color: #C40000;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
}

span.tm-zd{
	background-color: #FF0036;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-radius: 2px;
	width: 90px;
}




/* 最底部导航 */
div.footer{
	width: 100%;
    margin: 0px auto;
    border-top-style: solid;
    border-top-width: 1px;
	border-top-color: #e7e7e7;
	font-size: 12px;
    font-family: Arial;
}
div.footer_desc{
	width: 1190px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    padding-top: 30px;
	margin: 0px auto;
	position: relative;
}
div.footer_desc div.descColumn{
    width: 15%;
    float: left;
    padding-left: 15px;
}
div.footer_desc
 div.descColumn 
 span.descColumnTitle{
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}
div.footer_desc a{
    display: block;
    padding-top: 3px;
}

div.descColumn:nth-of-type(1){
	margin-left: 220px;
}
img.tm-chaoshi-img{
	position: absolute;
	left: 0;
	top: 22px;
}

div.copyright{
    background-color: #C40000;
    border-top: 2px solid #FF0036;
}
div.copyright span.slash{
    color: white;
}
div.footer div.copyright div.white_link a{
    color: white;
    padding: 0px 5px;
}
div.footer div.copyright div.white_link{
    padding: 10px 0px;
	width: 1190px;
	margin: 0 auto;
}
div.license{
	width: 1190px;
	margin: 0 auto;
    padding-bottom: 30px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}
img.cateye{
    margin-left: 0;
}

div.maotou{
	position: relative;
	width: 1190px;
	margin: 0 auto;
}

div.footer-2{
	border-top-color: #fff;
}