/*块级元素定义*/
.disblock{
	display: block;
}
/* 天猫超市的头部导航 */
div#site-nav{
    /* 最小宽度 */
    min-width: 990px;
    width: 100%;
    height: 26px;
    position: relative;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
	z-index: 999;
}

div#site-nav
div#sn-bd{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
}

div#sn-bd
div.sn-container a{
	color: #999999;
	font-size: 12px;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

div#sn-bd
div.sn-container a:hover{
	text-decoration: underline;
	color: #FF0036;
}

div#sn-bd
div.sn-container{
	width: 1190px;
	height: 26px;
	position: relative;
	color: #999;
}

div#sn-bd
div.sn-container
p.sn-back-home{
	float: left;
	height: 26px;
	line-height: 26px;
	margin-right: 20px;
	font-size: 0;
}

div.sn-container 
i.icon-home{
	margin-right: 4px;
	position: relative;
	top: -1px;
	color: #FF0036;
	font-size: 12px;
	font-style: normal;
	cursor: text;
}

div#sn-bd
div.sn-container
p.login-info{
	float: left;
	height: 26px;
	line-height: 26px;
	display: inline-block;
	font-size: 0;
}

div#sn-bd
div.sn-container
p.login-info em{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
}

div#sn-bd
p.login-info
a.sn-login{
	padding-left: 20px;
	padding-right: 10px;
}

div#sn-bd
p.login-info
a.sn-register{
	padding: 0 10px;
}

div#sn-bd
ul.sn-quick-menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

div#sn-bd
ul.sn-quick-menu li{
	float: left;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.sn-menu{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-mytaobao
a.menu-hd{
	padding-left: 10px;
	padding-right: 14px;
	display: block;
    height: 26px;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
}

ul.sn-quick-menu b{
	position: absolute;
    right: 6px;
    top: 12px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.menu-bd{
	display: none;
	width: 74px;
	padding: 8px 10px;
	position: absolute;
    left: 0;
    top: 27px;
    background: #fff;
    border: solid #eee;
    border-width: 0 1px 1px;
}

ul.sn-quick-menu 
li.sn-mytaobao
div.menu-bd a{
	line-height: 20px;
}

/*顶部导航的购物车*/
ul.sn-quick-menu 
li.sn-cart{
	position: relative;
	text-align: center;
	font-size: 0;
	padding: 0 10px;
}

ul.sn-quick-menu 
li.sn-cart
i.icon-tianmaochaoshigouwuche{
	color: #FF0036;
	cursor: text;
	position: relative;
	top: 1px;
	line-height: 26px;
	vertical-align: top;
	margin-right: 2px;
}

ul.sn-quick-menu 
li.sn-cart a{
	position: static;
	height: 26px;
}

/*顶部导航的收藏夹*/
ul.sn-quick-menu 
li.sn-favorite{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-favorite a{
	padding-right: 14px;
	padding-left: 12px;
	display: block;
}

/*顶部导航的竖杠*/
div#sn-bd
ul.sn-quick-menu 
li.sn-separator{
	display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 6px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

/*顶部导航的手机版*/
div#sn-bd
ul.sn-quick-menu 
li.sn-mobile{
	position: relative;
	padding: 0 10px;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-mobile 
i.icon-shouji{
	color: #FF0036;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

/*顶部导航的淘宝网*/
div#sn-bd
ul.sn-quick-menu 
li.sn-home{
	position: relative;
	padding: 0 10px;
}

/*顶部导航的商家支持*/
div#sn-bd
ul.sn-quick-menu 
li.sn-seller{
	position: relative;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-seller a{
	padding-left: 12px;
	padding-right: 14px;
	display: block;
}

/*顶部导航的网站导航*/
div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap{
	position: relative;
	font-size: 0;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap a{
	padding-left: 12px;
	padding-right: 14px;
	display: block;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap a:hover{
	color: #999999;
	text-decoration: none;
}

div#sn-bd
ul.sn-quick-menu 
li.sn-sitemap 
a i.icon-caidan{
	font-size: 12px;
	color: #FF0036;
	font-weight: bold;
	padding-right: 4px;
}


/*天猫头部  包含logo 搜索栏*/
div#header{
	width: 100%;
	display: block;
	position: relative;
	height: 122px;
	margin-top: -26px!important;
}

div.headerLayout{
	width: 1190px;
	margin: 0 auto;
	padding-top: 26px;
}

div.headerCon{
	width: 1190px;
	height: 88px;
}

div.headerCon
h1#mallLogo{
	width: 240px;
	height: auto;
	padding-top: 16px;
	float: left;
	line-height: 62px;
	position: relative;
}

h1#mallLogo
span.mlogo{
	float: left;
	margin-right: 10px;
	padding: 0;
}

h1#mallLogo
span.mlogo a{
	width: 190px;
	height: 62px;
	font-size: 0!important;
	padding: 0 0 0 40px;
	margin-top: 10px;
	display: block;
	overflow: inherit;
	position: relative;
}

h1#mallLogo
span.mlogo s{
	width: 130px;
	height: 48px;
	background-size: 100% 100%;	
	background-image: url(../images/tmallLogo.png);
	display: block;
}

/*城市定位*/
div.position-city{
	color: #30b30e;
	float: left;
	padding-top: 60px;
}

div.position-city h3{
	position: relative;
    color: #30b30e;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    line-height: 1.5;
    margin-top: -36px;
    margin-left: -1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    cursor: pointer;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100px;
}

div.position-city h3
i.icon-xialacaidan{
	color: #30b30e;
	font-size: 16px;
}

/*一站式购齐等*/
div.header-banner{
	float: right;
	padding: 25px 0 0 15px;
	width: 242px;
	height: auto;
}

div.header-banner
ul.market-feature{
	text-align: right;
	margin-right: 5px;
}

div.header-banner
ul.market-feature li{
	display: inline-block;
	margin: 0 6px;
	vertical-align: middle;
	font-size: 12px;
}

div.header-banner
ul.market-feature li a{
	color: #666666;
	font-weight: bolder;
}

div.header-banner
ul.market-feature 
li i.iconfont{
	color: #30b30e;
	font-weight: 400;
	text-align: right;
	margin-top: 20px;
	font-size: 16px;
	font-style: normal;
}

div.header-banner
ul.market-feature 
li.license{
	visibility: visible;
}

div.header-banner img{
	vertical-align: middle;
}

/*搜索栏*/
div.mall-search{
	width: 540px;
	float: right;
	padding-top: 25px;
	overflow: hidden;
	position: relative;
}

div.mall-search
div.s-combobox{
	width: 447px;
	height: 30px;
	float: left;
	font-size: 12px;
	border: solid #30b30e;
    border-width: 3px 0 3px 3px;
}

div.mall-search
div.s-combobox
div.s-combobox-input-wrap{
	position: relative;
    height: 30px;
    vertical-align: middle;
}


div.s-combobox
div.s-combobox-input-wrap
input{
	color: #000;
    margin: 0;
    z-index: 2;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: none;
    font-weight: 900;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-weight: 400;
    line-height: 30px;
}

/*搜索按钮*/
div.mall-search button{
	position: absolute;
	background-color: #30b30e;
	width: 90px;
	height: 36px;
	right: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}


/*内容区*/
div.content{
	width: 1190px;
	display: block;
	margin: 0 auto;
}

div.content
div.tm-chaoshi-nav{
	z-index: 12;
    background-color: #fff;
    /* border-bottom: 1px solid #2f2f2f; */
}

div.content
div.tm-chaoshi-nav
div.layout{
	width: 1190px;
    margin: 0 auto;
}

/*所有产品分类 左浮动  脱文档流*/
div.tm-chaoshi-nav
div.layout
div.cat{
	background-color: #2f2f2f;
    height: 36px;
    width: 240px;
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
}

/*右边购物车 有浮动 脱文档流*/
div.tm-mcRoot{
	float: right;
	position: relative;
	top: -3px;
    width: 200px;
    height: 31px;
    margin: 3px 0;
    background: #bf0000;
    z-index: 103;
}

div.tm-mcRoot
div.tm-mcHandler{
	height: 33px;
    line-height: 33px;
    color: #fff;
    cursor: pointer;
    padding: 0 18px;
    overflow: hidden;
}

div.tm-mcRoot
div.tm-mcHandler
a.tm-money{
	color: #fcff00;
	font-family: arial;
	font-size: 12px;
}

div.tm-mcHandler
a.tm-money strong{
	font-size: 22px;
    font-weight: bolder;
    vertical-align: middle;
    margin: 0 2px;
    font-style: normal;
}

div.tm-mcRoot em{
	margin-right: 3px;
    color: #b91226;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

div.tm-mcRoot
div.tm-mcHandler
a.tm-weight{
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}

div.tm-mcHandler
a.tm-weight strong{
	font-weight: normal;
}

div.tm-mcRoot
b.tm-white{
	position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 15px;
    line-height: 36px;
    font-size: 36px;
    z-index: 2;
    left: -30px;
    top: -1px;
    color: #333;
    background: #FFFFFF;
}

div.tm-mcRoot
b.tm-black{
	position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 36px;
    font-size: 36px;
    z-index: 3;
    left: -27px;
    top: 0px;
    color: #333;
    background: black;
}

div.tm-mcRoot
i.icon-tianmaochaoshigouwuche{
	position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 14px;
    line-height: 36px;
    font-size: 25px;
    z-index: 4;
    left: -25px;
    top: -1px;
    color: white;
}

/*中间导航 不脱流*/
div.nav-bar{
	position: relative;
    height: 36px;
    width: 100%;
    z-index: 13;
}

div.nav-bar ul{
	margin-left: 240px;
	overflow: hidden;
}

div.nav-bar li{
	float: left;
}

div.nav-bar a{
	font-size: 16px;
    color: #333;
    line-height: 36px;
    margin-left: -1px;
    padding: 0 25px;
    text-decoration: none;
    font-weight: 700;
}

div.nav-bar 
li.qycg:before{
	content: '\20';
    height: 12px;
    border-right: 1px solid #d9d9d9;
    width: 0;
    vertical-align: middle;
}

div.nav-bar 
li a:hover{
	color: #C40000;
}


/*所有产品*/
div.fs{
	width: 1190px;
	display: block;
	margin-bottom: 40px;
	position: relative;
	/* border: 1px solid red; */
}

div.fs-c{
	width: 1190px;
	height: 585px;
	position: relative;
}

div.fs-c-l{
	width: 238px;
    height: 100%;
    float: left;
	position: relative;
	border: 1px solid #e7e7e7;
}

div.fs-c-cen{
	width: 750px;
	height: 100%;
	float: left;
}

div.fs-c-r{
	width: 190px;
	height: 100%;
	margin-left: 10px;
	float: left;
	/* background: #EC971F; */
}


/*所有产品左边的竖导航*/
div.fs-c-l
div.cat-bd{
	height: 100%;
	position: relative;
    padding: 0 14px;
    height: 100%;
    max-height: 584px;
    line-height: 1.1!important;
    overflow: hidden;
}

div.fs-c-l
div.cat-bd ul{
	margin: -1px 0 0;
    padding: 0;
}

div.cat-bd ul 
li.j-LI{
	float: left;
    position: relative;
    list-style: none;
    width: 107%;
    height: 34px;
    margin: 0;
    padding: 19px 0;
    border-top: 1px solid #e7e7e7;
    cursor: default;
}

div.cat-bd
li.j-LI h3{
	color: #515151;
	font-size: 14px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
}

div.cat-bd
h3 i.iconfont.one{
	position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-top: -4px;
    overflow: hidden;
    text-align: center;
    text-indent: 0;
    text-decoration: none;
    font-size: 20px;
    color: #e22a40;
}

div.cat-bd
h3 i.iconfont.two{
	position: absolute;
    top: -2px;
    right: 5px;
    color: #515151;
    font-size: 18px;
}

div.cat-bd h3 a{
	padding-left: 35px;
}

div.cat-bd
li.j-LI p{
	margin-top: 10px;
    margin-left: -8px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-indent: 30px
}

div.cat-bd
li.j-LI p a{
	color: #999;
    margin-left: 6px;
}

/*左边的竖导航里边hover的时候块级背景*/
div.fs-c-l
b.j_NavBg{
	position: absolute;
    background: #e00024;
    opacity: .9;
    filter: Alpha(opactiy=90);
    width: 100%;
    top: 0;
    left: -10px;
    height: 72px;
    z-index: 0;
    padding-left: 15px;
    visibility: hidden;
}

div.fs-c-l
b.j_NavBg em{
	display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #aa2633;
    border-top-color: #aa2633;
    position: absolute;
    bottom: -10px;
    left: 0;
}


/* 所有分类导航hover的时候出现的 */
div.fs-c
div.cat-popup{
	display: none;
    position: absolute;
    background-color: #fff;
    border: 3px solid #e22a40;
    width: 944px;
    max-height: 357px;
    top: 0;
    left: 238px;
    margin-left: 1px;
    line-height: 1.2;
    z-index: 100;
    overflow: hidden;
}

div.fs-c
div.cat-popup
div.subview{
	display: none;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div.cat-popup
div.subview
div.subview-li{
	float: left;
    border-right: 1px dotted #d3d3d3;
    padding: 16px 0 15px 25px;
    margin-right: 2px;
    width: 222px;
    height: 88px;
    overflow: hidden;
}

div.subview
div.subview-li h4{
	color: #515151;
    font-size: 12px;
	font-weight: 700;
	margin: 0 0 10px;
}

div.subview
div.subview-li h4 a{
	color: #515151;
    font-size: 12px;
    font-weight: 700;
}

div.subview
div.subview-li p{
	overflow: hidden;
	margin: 0;
}

div.subview
div.subview-li p a{
	float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    overflow: hidden;
	border-left: 1px solid #e7e7e7;
    padding-left: 9px;
    margin-left: -10px;
    margin-right: 18px;
}

div.subview
div.promo{
	position: absolute;
    right: 0;
    top: 0;
    background-color: #f7f8f8;
    width: 196px;
    border-left: 1px solid #e7e7e7;
}

div.subview
div.promo
div.promo-brands{
	padding: 15px 20px 0;
}

div.promo-brands h4{
	color: #515151;
    font-size: 12px;
	font-weight: 700;
	margin: 0 0 10px;
}

div.promo-brands p{
	overflow: hidden;
    margin: 0;
}

div.promo-brands p a{
	float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

div.promo-acts{
	padding: 15px 20px 0;
}

div.promo-acts h4{
	color: #e22a40;
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 10px;
}

div.promo-acts p{
	height: 83px;
	overflow: hidden;
	margin: 0;
}

div.promo-acts p a{
	float: left;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
    text-indent: 10px;
}


/* 天猫 轮播图*/
div.tm_lunbo{
	width: 100%;
	height: 291px;
	position: relative;
	overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 291px;
}  

div.tm_lunbo
div.swiper-slide img{
	width: 100%;
	height: 100%;
}

div.tm_lunbo
div.swiper-pagination{
	left: 305px;
}

div.tm_lunbo
div.swiper-pagination
span.swiper-pagination-bullet{
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background-color: #000;
	opacity: 1;
	font-weight: 100;
	font-size: 12px;
	margin: 0 2px;
}

div.tm_lunbo
div.swiper-pagination
span.swiper-pagination-bullet-active{
	background-color: #c40000;
}

/* 轮播图下面的  banner图 */
div.tm-market{
	width: 100%;
	height: 292px;
	border: 1px solid #e5e5e5;
	border-width: 1px 0;
	font-size: 0;
}

div.tm-market
div.row1{
	position: relative;
	left: -1px;
	clear: both;
}

div.tm-market
div.row1 a{
	border-left: 1px solid #eee;
	width: 249px;
	height: 120px;
	float: left;
	outline: 0;
}

div.tm-market
div.row1 a img{
	width: 100%;
}

div.tm-market
div.row1 a img:hover{
	transform: scale(1.1);
}


/* 轮播图的  右边的 banner 图 */
div.tm-sildebar{
	border-top: 1px solid #e5e5e5;
	height: 342px;
}

div.tm-sildebar a{
	display: block;
    width: 188px;
    height: 170px;
    border: 1px solid #e5e5e5;
    border-width: 0 1px 1px;
}

div.tm-sildebar a img{
	width: 100%;
	height: 100%;
}


/* 天猫超超市 轮播图下面的一层一层*/
div.tm-chaoshi-floor{
	clear: left;
	max-height: 559px;
}

div.tm-chaoshi-floor
div.m-floor{
	margin-bottom: 50px;
    height: 600px;
}

div.tm-chaoshi-floor
div.m-floor h2{
	color: #2f2f2f;
    font-size: 20px;
    float: left;
    font-weight: 700;
}

div.tm-chaoshi-floor
div.m-floor 
ul.links{
	margin-top: 12px;
    float: right;
}

div.tm-chaoshi-floor
div.m-floor
div.content{
	border-top: 2px solid #000;
    overflow: hidden;
}

div.m-floor
div.content
div.goods{
	float: left;
    width: 100%;
    min-height: 1px;
}

div.content
div.goods
div.list{
	margin: 0 150px 0 240px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-width: 0 1px;
}

div.content
div.goods
div.list a{
	float: left;
    width: 25%;
    color: #2f2f2f;
    height: 278px;
    overflow: hidden;
    border-right: 1px solid #e7e7e7;
    margin-right: -1px;
}

div.content
div.goods
div.wrap{
	margin: 20px;
    position: relative;
}

div.goods
div.wrap img{
	margin: 0 auto 10px;
    display: block;
    background: url(//img.alicdn.com/tps/TB1_LrgPpXXXXXzXFXXXXXXXXXX-82-46.png) center center no-repeat #f7f7f7;
    background-size: 41% 23%;
}

div.goods
div.wrap h3{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height: 18px;
    font-weight: 700;
}

div.goods
div.wrap
p.title{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}

div.goods
div.wrap
p.o-price{
	color: #999;
    text-decoration: line-through;
    font-family: arial;
    visibility: hidden;
}

div.goods
div.wrap
p.o-price .yen{
	font-size: 1em;
	font-style: normal;
    vertical-align: top;
    font-weight: 400;
}

div.goods
div.wrap
p.price{
	font-size: 18px;
    font-weight: 700;
    font-family: arial;
    line-height: 1.231;
}

div.goods
div.wrap
p.price .yen{
	font-size: .5em;
    font-style: normal;
    vertical-align: top;
    font-weight: 400;
}

div.goods
div.wrap
div.ui-cart{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
	color: #fff;
    font-size: 40px;
    line-height: 36px;
    border: none;
    cursor: pointer;
	outline: 0;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	background-color: #e9394e;
	border-radius: 50%;
	font-size: 20px;
}

/* div.wrap
div.ui-cart 
i.iconfont.icon-tianmaochaoshi-gouwuche{
	width: 35px;
	height: 35px;
	color: rgb(165, 13, 13);
	z-index: 99999999;
} */

div.content
div.recommend{
	width: 240px;
	float: left;
	margin-left: -100%;
}

div.content
div.recommend .words{
	height: 200px;
	padding: 30px 0 30px 20px;
}

div.content
div.recommend .words a{
	margin: 0 10px 10px 0;
    line-height: 1.2;
    float: left;
    width: 57px;
    height: 57px;
    text-align: center;
    color: #2f2f2f;
    background-color: #fff;
    border-radius: 57px;
    position: relative;
    border: 1px solid #fff;
    display: table;
}

div.content
div.recommend .words .inner{
	display: table-cell;
    vertical-align: middle;
}

div.content
div.recommend .words .inner .text{
	font-weight: 400;
	font-size: 12px;
    display: inline-block;
    max-width: 40px;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	max-height: 2.4em;
	line-height: 1.2;
	text-align: center;
    color: #2f2f2f;
}

div.content
div.recommend .banner{
	display: block;
    height: 296px;
}


div.content
div.promo{
	position: relative;
    width: 150px;
    float: left;
    margin-left: -150px;
    padding-top: 30px;
    font-size: 0;
}

div.content
div.promo
img.title{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39px;
    z-index: 1;
}

div.content
div.promo a{
	position: relative;
    display: block;
}